@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --dark: #0D1821;
    --light: #f0f3f1;
    --crusive : 'Coiny', cursive;
}

body{
    background-color: var(--dark);   
}

.roundImage{
    animation: round 90s infinite linear;
}

@keyframes round{
    0%{
        rotate: -360deg;
    }
    100%{
        rotate: 0deg;
    }
}