@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #efdc9e;
}

.profile-image {
  animation: fancyBorder 10s infinite linear;
}

@keyframes fancyBorder {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  40% {
    border-radius: 70% 30% 50% 50% / 46% 27% 73% 54%;
  }
  80% {
    border-radius: 60% 40% 63% 37% / 32% 66% 34% 68%;
  }
}
